/* 4k Resolution */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,p,a, h3, li{
    color:white;
    font-family: 'Poppins', sans-serif;
}
body {
background-color: #D0D9C9;

}
.header-container, .hero-container {
    background: #344e41;
}
ul {
    list-style-type: none;
}
header {
    display:grid;
    padding: 2em 4em;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
}

nav {  
    text-align: right;
}

.link-container ul {
    display:inline-block;
    margin-right: 5em;
}
.link-container ul li {
    display: inline-block;
    margin-right: 1.5em;
}
.link-container ul li a{
    font-size: 1rem;
    display: block;
    padding: .5em;
    text-decoration: none;
    color:white;

}
.link-container ul li a::after{
content:"";
display:block;
width:0;
height:2px;
background:white;
transition:width .2s;
}

.link-container ul li a:hover::after{
width:100%;
transition:width .2s;
}
.hero-container {
    position: relative;
    margin:auto;
    width: 100%;
    display:grid;    
    padding: 2em;
    grid-template-columns: 1fr 1fr;
    height: auto;
    align-items: center;
    overflow: hidden;
}
.brand-title {
    color:white;
    text-decoration: none;
    font-size: 1em;
    transition:0.5s;
}
.title-hero .brand-title:hover {
    transition: 0.5s;
    font-size: 1.05em;
}
.left-side {
    margin-left: 3em;
    padding-left: 5em;
}
.left-side h1 {
    font-size: 3em;
}
.left-side p
{
    font-size: 1.2em;
}
.right-side {
    text-align: center;
}
.right-side img{
    width: auto;
    height: 800px;
}
.plant-c {
    position:relative;
    font-family: 'Open Sans', sans-serif;
    padding: 2em 0 1em;
    text-align: center;
    font-size: 2rem;
}
.image-wrapper {
    margin:0 auto;
    width:60%;
    justify-content:center;
    position:relative;  
    display:flex;
    margin-bottom: 1em;
    flex-wrap: wrap;
    flex-direction: row;
}
.imgbox {
    position:relative;
    height:600px;
    width:350px;
    border:1px solid white;
}
.imgbox img {
padding:5px;
position: relative;
height:100%;
width: 100%;
}

.details {
    padding:1em;
}
.benefit-wrapper {
    position:relative;
    padding:1em;
    width:auto;
}

.footer-div {

    padding:2em;
}
.footer-container {
    background:white;
    display:flex;
    align-items: center;
    justify-content:center;
}
.footer-container p {
    color:black;
}
.container-left {
    margin-right: 1em;
    align-items: center;
    display:flex;
}
.social-item{
    margin-left:1em;
    display:inline-block;
}
.benefit-wrapper {
    margin:0 auto;
    padding-left:2em;
}
.benefit-wrapper h1{
font-size:2.5em;
}
.benefit-wrapper li{
    font-size:1.5em;
    }
    .plant-c h1{
color:#344e41;;
    }
@media screen and (max-width:1440px)
{
.left-side{
    padding-left:0;
    margin-right: 1em;
    margin-left:0;
}
.right-side img {
    width: auto;
    height: 600px;
}
.image-wrapper {
    width:80%;
}
}
@media screen and (max-width:1024px)
{
    .header {
        padding: 3em 2em;
    }
    .link-container ul {
        margin-right:0em;
    }
    .hero-container {
        gap :1em;
        width:90%;
    }

    .right-side img {   
        width: auto;
        height: 500px;
    }

}

@media screen and (max-width:768px)
{
    header {
        padding:2em;
    }
    .hero-container {
        gap:0;
    }
    .link-container ul li {
        margin-right: 1em;
    }
    .right-side img {
        padding:1em;
    }
    .footer-container p{
    text-align: center;
    }
}
@media screen and (max-width:600px)
{
    header {

    grid-template-columns: none;
    grid-template-areas: "logo icon"
                         "nav nav";
    }
    .logo-title{ 
        grid-area:logo;
    }
    label {
    margin-left: 10px;
    grid-area: icon;
    display:block;

    }
    .link-container {
    padding-top:10px;
    grid-area: nav;
    text-align: center;
    width:100%;
    }
    .link-container ul
    {
        display:block;
    }
    .link-container ul li
    {
        text-align: right;
        margin-right: 0;
        display:block;
    }
    .hero-container {
        width:100%;
        display:inline-block;
    }
    .right-side {
        padding-top:1em;
        display:none;
    }
    .image-wrapper {
        width:100%;
        padding:10px;
    }
    .footer-div {
        padding:2em 1em;
    }
    .footer-div img {
        width:25px;
    }
    .social-list {
        display:flex;
    }
    .container-left {
        margin-right: 0;
    }

}
@media screen and (max-width:400px)
{
    .footer-container {
        display:block;
    }
    .footer-container p {
        text-align: left;
    }
    .footer-div {
        border-bottom : 1px solid black;
        padding:1em;
    }
}