/* 4k Resolution */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --maincolor:#004b23;
}
h1,p,a {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
header {
    display:grid;
    padding: 2em 4em;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
}
nav {  
    text-align: right;
}
.link-container ul {
    display:inline-block;
}
.link-container ul li {
    display: inline-block;
    margin-right: 1.5em;
}
.link-container ul li a{
    font-size: 1rem;
    display: block;
    padding: .5em;
    text-decoration: none;
    color:#3a5a40;

}
.link-container ul li a::after{
content: "";
display:block;
width:0;
height:2px;
background:#3a5a40;
transition:width .2s;
}

.link-container ul li a:hover::after{
width:100%;
transition:width .2s;
}
.hero-container {
    margin:auto;
    width: 80%;
    display:grid;    
    padding: 2em;
    grid-template-columns: 1fr 1fr;
    height: auto;
    align-items: center;
    overflow: hidden;
}
.brand-title {
    color:#004b23;
    text-decoration: none;
    font-size: 1em;
    transition:0.5s;
}
.title-hero .brand-title:hover {
    transition: 0.5s;
    font-size: 1.05em;
}
.left-side {
    margin-left: 3em;
    padding-left: 5em;
}
.left-side h1 {
    font-size: 3em;
}
.left-side p
{
    font-size: 1.2em;
}
.right-side {
    text-align: center;
}
.right-side img{
    width: auto;
    height: 800px;
}
.plant-c {
    font-family: 'Open Sans', sans-serif;
    padding: 2em 0 1em;
    text-align: center;
    font-size: 2rem;
}
.image-wrapper {
    margin: 0 auto;
    padding: 1.5em;
    width:40%;
    display:grid;
    grid-auto-flow:dense;
    grid-template-columns: repeat(4 , 1fr );
    grid-gap: 1em;
}
.image-wrapper .imgbox .pic-box img {
    max-width: 100%;
    height: auto;
}

.footer-container {
    margin-top:10em;
    color:white;
    background: #344e41;
    align-items: center;
    text-align: center;
    padding: 2em;
    display:grid;
    grid-template-columns:  ; 
}
.container-left {
    display:flex;
    align-items:center;
}
.social-item {
    margin-left: 10px;
    display:inline-block;
}